<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="COM_SPONSORS" name="sponsors">
        <field name="columns" type="list" default="2" label="COM_SPONSORS_CONFIG_DEFAULT_COLUMNS_LABEL" description="COM_SPONSORS_CONFIG_DEFAULT_COLUMNS_DESC">
            <option value="1">COM_SPONSORS_CONFIG_DEFAULT_COLUMNS_X1</option>
            <option value="2">COM_SPONSORS_CONFIG_DEFAULT_COLUMNS_X2</option>
            <option value="3">COM_SPONSORS_CONFIG_DEFAULT_COLUMNS_X3</option>
        </field>
        <field name="banner" type="list" default="2" label="COM_SPONSORS_CONFIG_SIZE_BANNER_LABEL" description="COM_SPONSORS_CONFIG_SIZE_BANNER_DESC">
            <option value="1">COM_SPONSORS_CONFIG_LARGE_BANNER</option>
            <option value="2">COM_SPONSORS_CONFIG_SMALL_BANNER</option>
            <option value="3">COM_SPONSORS_CONFIG_XLARGE_BANNER</option>
        </field>
        <field name="details" type="radio" buttons="true" class="btn-group btn-group-yesno" default="0" label="COM_SPONSORS_CONFIG_PUBLIC_SPONSOR_PROFILE_LABEL" description="COM_SPONSORS_CONFIG_PUBLIC_SPONSOR_PROFILE_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="banners_path" type="folderlist" default="patrocinadores" directory="images" label="COM_SPONSORS_CONFIG_SPONSOR_FOLDER_LABEL" description="COM_SPONSORS_CONFIG_SPONSOR_FOLDER_DESC"/>
        <field name="sponsor_usergroup" type="usergroup" label="COM_SPONSORS_CONFIG_SPONSOR_USER_GROUP_LABEL" description="COM_SPONSORS_CONFIG_SPONSOR_USER_GROUP_DESC"/>
    </fieldset>

    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="com_sponsors" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component"/>
    </fieldset>

    <fieldset name="component">
        <field name="save_history" type="radio" class="btn-group btn-group-yesno" default="0" label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL" description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field name="history_limit" type="text" filter="integer" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" default="5"/>
    </fieldset>
</config>