<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="COM_SPONSORS" name="sponsors">
        <field name="columns" type="list" default="2" label="Numero de columnas para mostrar los patrocinadores" description="">
            <option value="1">1 Columna</option>
            <option value="2">2 Columnas</option>
            <option value="3">3 Columnas</option>
        </field>
        <field name="banner" type="list" default="2" label="Banner a mostrar" description="">
            <option value="1">Banner 1 (Pequeno 150x80)</option>
            <option value="2">Banner 2 (Grande 468x60)</option>
        </field>
        <field name="details" type="list" default="0" label="Activar ficha publica de patrocinador" description="">
            <option value="0">No</option>
            <option value="1">Si</option>
        </field>
    </fieldset>

    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="com_sponsors" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component"/>
    </fieldset>

    <fieldset name="component">
        <field name="save_history" type="radio" class="btn-group btn-group-yesno" default="0" label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL" description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="history_limit" type="text" filter="integer" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" default="5"/>
    </fieldset>
</config>